.users {
  margin: 2rem auto;
  width: 90%;
  max-width: 40rem;
}

.users ul {
  list-style: none;
  padding: 1rem;
}
.users .title1 { font-weight: bold; }

.users li {
  border: 1px solid #1f1f1f;
  background: rgb(238, 174, 202);
  
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 4px;
}
