.button {
  font: inherit;
  font-weight: bold;
  border: 1px solid #1f1f1f;
  border-radius: 4px;
  background: rgb(238, 174, 202);
 
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: rgb(238, 174, 202);
  
  transform: scale(0.98);
  border-color: grey
}

.button:focus {
  outline: none;
}
